
/**{
    padding: 0;
    margin: 0;
    border:0;
    font-size: 100%;
    text-decoration: none;
    list-style: none;

}*/

body
{
    background-color: black;
    /*atributos para insertar imagen como fondo*/
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    background-attachment: scroll;
    /*display:grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    margin-bottom: auto;*/
    
}

h1
{
    color:white;
    font-size: 20px;
    margin-left: auto;
    text-align: center;
   
}

h2
{
    color:black;
    padding-bottom: 20px;
    padding-top: 40px;
    text-align: center;
}


p
{
    color: white;
}

p.inicio
{
    color:white;
    font-size: 25px;
    margin-top: 20px;
    font-weight: 500;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
}

/*este es un identificador de un unico h3(miID)*/
#miID
{
    color:white;
    text-align:center;
    font-style: normal;
    font-weight: 800;
    padding-top: 30px;
    font-size: 40px;

}

.miClase
{
    color:grey;
}

/*Identificador ID de una imagen*/
#miIMG
{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 400px;
    height:400px;
    border-radius: 5px;
    border: 20px;
}

.fotoperfil
{
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 2);

}

ul
{
    list-style-type: none;
    color: white;
}

/*Esta es una clase de una lista de determinadas imagenes*/
.imgLista
{
    
    width: 318px;
    height: 100px;
    margin-bottom: 15px;
/*Esto lo que hace es agregar columnas a un texto o parrafo
    column-count: 10px;
    column-gap: 50px;
    column-rule: 4px double #ff00ff;*/

}

/*estilos del formulario*/
.form-contact
{
   width: 500px;
   padding: 30px;
   margin: auto;
   margin-top: 40px;
   text-align: center;
   /*colores gradientes en el contenedor del formulario*/
   background-image: linear-gradient(to bottom right, grey, black);
   border-radius: 5px;
   margin-bottom: 50px;
   
}

.boton
{
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
 }

.form-contact input
{
    margin-bottom: 15px;
}


 

 /*Página de servicios.html*/
 .container
 {
    color:white;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    padding-bottom: 10px;
    text-align: center;

 }

 .container-fluid
 {
    background-color: black;
    margin-right: 10px;
    padding-bottom: 2px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
 }

 p.contacto
 {
    font-size: 15px;
    height: 10px;
    padding-top: 2px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;

}

p.contacto-mail
{
    font-size: 12px;
    height: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;

    
}

p.contacto-tel
{
    font-size: 12px;
    height: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

p.creador-sitio
{
    font-size: 14px;
    float:right;
    margin-right: 2px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    
}

 header
 {
    display:flex;
    height: 145px;
    background-color: black;

 }

.logo img
{
   height: 145px;
   padding-left: 10px;
}

.navbar-nav
{
    /*links de acceso a secciones alineados a la inzquirda*/
    margin-inline-start: auto;

}

.nav-item
{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;

}

nav a:hover
 {
    background:#2e2c2c;
    padding: 10px, 20px;

 }


.content-text
{
background-color: black;
height: 90%;
margin: 0 auto 40px auto;
display: flex;
border-radius: 5px;
padding: 40px 20px;
background-image: linear-gradient(to bottom, #272525, black);
  background-repeat: repeat;
  background-size: auto;
  background-position: center center;
  max-width: 850px;

}

.content-text li
{
    color: white;
    font-size: 20px;

}

.content-text p
{
    margin-bottom: 40px;
    
}

/*novedades.html*/

/*.container-tarjetas
{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: 10%;

}

*/.card 
{
    width: 50%;
    border-radius: 3px;
    overflow: hidden;
    background: black;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
    padding: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
}

/*.card .contenido h3
{
    color: #2e2c2c;
    cursor: default;
    transition: all 400ms ease;
    line-height: 1.5;
}*/

.card:hover
{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
    transform: translateY(-3%);
}

.card img
{
    width: 100%;
    height: 310px;
}

.card .contenido
{
    padding: 10px;
    font-size: 60px;
    text-align: center;
}

.card .contenido h3
{
    font-weight: 400px;
    margin-bottom: 10px;
    padding-top: 10px;
}

/*.card .contenido p
{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    color: #2e2c2c;
    border: 1px solid #2e2c2c;
    border-radius: 2px;
    transition: all 400ms ease;
}*/

/*.card .contenido a:hover
{
    background:#2e2c2c;
    color: #fff;


}*/


@media (max-widht:1000px) {

    body{
        
        background-color: black;
        background-image: url(img/fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left top;
        background-attachment: scroll;
    }

    
}


@media (min-widht:600px) {

    body{
        
        background-color: black;
        background-color: black;
        background-image: url(img/fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left top;
        background-attachment: scroll;
        
    }

    
}

